[Unit]
Description=recursid

[Service]
Type=simple
User=nobody
Group=nogroup
ExecStart=/usr/local/bin/recursid_multithread.py /usr/local/etc/recursid/recursid.json
Restart=always
RestartSec=10
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
