[Unit]
Description=recursid

[Service]
Type=simple
User=nobody
Group=nobody
ExecStart=/usr/local/bin/recursid_multithread.py /usr/local/lib/python3.7/site-packages/recursid/etc/recursid/fluentd_json_url_handle.json
Restart=always
RestartSec=10
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
